
# Prerequisites
*.d

# videolar
*.mp4
*.mkv

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.ma p
*.exp

# Precompiled Headers
*.gch
*.pc b
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su 
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
